#### Multiply 10 with 5, and print the result.

In [ ]:
print(10*5)

50

### Divide 10 by 2, and print the result.

In [ ]:
print(10/5)

2.0

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [ ]:
fruits=("apple","banana")
if "apple" in fruits:
  print("Yes ,apple in a fruit!")

Yes ,apple in a fruit!

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [ ]:
if 5!=10:
  print(" 5 and 10 is not equal")

 5 and 10 is not equal

### Use the correct logical operator to check if at least one of two statements is `True`.

In [ ]:
if 5==10 or 4==4:
  print("The statements is true ")

The statements is true

### Print the second item in the fruits list.

In [ ]:
fruits=["apple","banana","cherry"]
print(fruits[1])

banana

### Change the value from "apple" to "kiwi", in the fruits list.

In [ ]:
fruits=["apple","banana","cherry"]
fruits[0]="kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

### Use the append method to add "orange" to the fruits list.

In [ ]:
fruits.append("orange")

In [ ]:
print(fruits)

['kiwi', 'banana', 'cherry', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [ ]:
fruits=["apple","banana","cherry"]
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

### Use the remove method to remove `"banana"` from the fruits list.

In [ ]:
fruits=["apple","banana","cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

### Use negative indexing to print the last item in the list.

In [ ]:
fruits=["apple","banana","cherry"]
print(fruits[-1])

cherry

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [ ]:
fruits=["apple","banana","apple","banana","cherry","banana"]
print(fruits[2:5])

['apple', 'banana', 'cherry']

### Use the correct syntax to print the number of items in the list.

In [ ]:
len(fruits)

6

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

#### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

In [ ]:
x=[1,3,5,6,7,9]

In [ ]:
x[6]

IndexError: list index out of range

In [ ]:
len(x)

6

In [ ]:
numbers = [
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]
# for x in numbers:
#   if x==237:
#     break
#   elif x%2 ==0:
#     print(x)
# for  x in range(len(numbers)):
#   if numbers[x]==237:
#     break
#   elif x%2==0:
#     print(numbers[x])

index=0
while numbers[index] !=237:
  if numbers[index]==418:
    break
  else:
    print(numbers[index])
  index+=1

386
462
47

### Write a Python program that will accept the base and height of a triangle and compute its area.

<img src="https://www.w3resource.com/w3r_images/python-area-triangle-basic-exercise-30.png" alt="Girl in a jacket" width="500" height="600">

In [ ]:
def calaculate_triangle_area(base,height):
  return 0.5 * base * height
b= int(input("Input the base : "))
h= int(input("Input the base : "))
area=calaculate_triangle_area(b,h)
print("area = ",area)

Input the base : 10
Input the base : 20
area =  100.0

### Sort three integers without using conditional statements

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-69.png" alt="Girl in a jacket" width="500" height="600">

In [ ]:
def add(n,n1,n3):
  print(n+n1)
  return n ,n1,n3

In [ ]:
a1,a2,a3=add(10,11,12)

21

In [ ]:
print(n)

NameError: name 'n' is not defined

In [ ]:
print(a1)

10

In [ ]:
x=int(input("Input first number: "))
y=int(input("Input second number :"))
z=int(input("Input  thrid number :"))
def sort_numbers(x,y,z):
  a1=min(x,y,z)
  a3=max(x,y,z)
  a2=(x+y+z)-a1-a3
  return a1,a2,a3
sort_numbers()

Input first number: 10
Input second number :20
Input  thrid number :30

In [ ]:
# x=int(input("Input first number: "))
# y=int(input("Input second number :"))
# z=int(input("Input  thrid number :"))
# def sort_numbers(x,y,z):
#   a1=min(x,y,z)
#   a3=max(x,y,z)
#   a2=(x+y+z)-a1-a3
#   return a1,a2,a3
# nm1,num_2,num_3=sort_numbers(x,y,z)
# print("Number in sorted order",nm1,num_2,num_3)

x=int(input("Input first number: "))
y=int(input("Input second number :"))
z=int(input("Input  thrid number :"))
def sort_numbers(x,y,z):
  a1=min(x,y,z)
  a3=max(x,y,z)
  a2=(x+y+z)-a1-a3
  return f" {a1} {a2} {a3}"
sort_numbers(x,y,z)

Input first number: 10
Input second number :20
Input  thrid number :30

' 10 20 30'


### Sort three integers :using conditional statements

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

In [ ]:
z=[]
y=int(input("Enter len of list :\n"))
for i in range(y):
  x=float(input("Enter  number :\t"))
  z.append(x)
print(len(z),len(set(z)))
if len(z)==len(set(z)):
  print("True")
else:
  print("False")

Enter len of list :
4
Enter  number :	1
Enter  number :	1
Enter  number :	2
Enter  number :	3
4 3
False

#### Dictionary

In [ ]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
list(dict1.keys())

['a', 'b', 'c']

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.values())

[200, 300]

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.items())

[('a', 200), ('c', 300)]

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [ ]:
sum([0,1,2,3,4,5])
sum((0,1,2,3,4,5))
sum({0,1,2,3,4,5})
sum({5:5,10:11})

15

### Python program to find the sum of all values in a dictionary

### Filter the negative values from given dictionary

### Test if all Values are Same in Dictionary

### test_dict = {"Gfg": 8, "is": 5, "Best": 5}
### False

# `any`

In [ ]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 0 : True}
x = any(mydict)
print(x)

False

#### <font color='gold'>Note: When used on a dictionary, the any() function checks if any of the keys are true, not the values.</font>

### Test if vlaue input  in dictionary value

### Calculate the sum of all numbers from 0 to a given number

In [ ]:

num=5
sum=0
for i in range(num+1):
  sum+=i
print(sum)

15

### Find the factorial of a given number using while loop

In [ ]:
n=float(input("enter your value: "))
f=1
while n>=1:
  f*=n
  n-=1
print("factorial is",f)

enter your value: 5
factorial is 120.0

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

### Use a loop to display elements from a given list present at odd index positions

In [ ]:
x=[10,20,30,40,50,60,70,80,90,100]
for i in range(len(x)):
  if i%2!=0:
    print(x[i])

20
40
60
80
100

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

### Calculate the cube of all numbers from 1 to a given number

In [ ]:
n=int(input("enter your value:"))
x=[]
for i in range(1,n+1):
  x.append(i**3)
print(x)

enter your value:9
[1, 8, 27, 64, 125, 216, 343, 512, 729]

### len of str in list
### ['apple', 'orange', 'cat']

In [ ]:
l = ['apple', 'orange', 'cat']
print([ len(i) for i in l])

[5, 6, 3]

### program to count number of vowels using sets in given string


### Write a Python program to add an item to a tuple.

In [ ]:
x=(1,2,"apple")
x.insert(1,"banana")
print(x)

AttributeError: 'tuple' object has no attribute 'insert'

### Write a Python program to multiply all the items in a list.

In [ ]:
list=eval(input("enter your list:"))
f=1
for i in list:
  f*=i
print("result:",f)

enter your list:[3,4,5]
result: 60

### Write a Python program to get the smallest number from a list.

In [ ]:
list=eval(input("enter your list:"))
print(min(list))

enter your list:1,2,3
1

### Write a Python program to get the largest number from a list.

In [ ]:
list=eval(input("enter your list:"))
print(max(list))

enter your list:1,2,3
3

### Write a Python program to clone or copy a list

In [ ]:
def copy (x):
  y=[]
  y.extend(x)
  return y
walid=[1,2,3,]
z=copy(walid)
print(z)

[1, 2, 3]

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [ ]:
s = set([0, 1, 3, 4, 5])
print("first set:",s)
s.pop()
print("second set:",s)

first set: {0, 1, 3, 4, 5}
second set: {1, 3, 4, 5}

### Write a Python program to find the maximum and minimum values in a set.

In [ ]:
s = set([0, 1, 3, 4, 5])
print("max is :",max(s))
print("min is :",min(s))

max is : 5
min is : 0

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

In [1]:
tuple1 = ("name", "age", "city","city")
x=dict(enumerate(tuple1))
print(x)

{0: 'name', 1: 'age', 2: 'city', 3: 'city'}

### Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [15]:
x=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_lst = [tpl[:-1] + (100,) for tpl in x]
print(new_lst)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [14]:
x=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in range(len(x)):
  upd_list=list(x[i])
  upd_list[-1]=100
  x[i]=tuple(upd_list)
print(x)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]